<section>
  <h2> Product Reviews</h2>

  <% if @reviews.empty? == false %>
    <% @reviews.each do |review|%>
      <dl class="dl-horizontal">
          <dt>Description</dt>
          <dd><%= review.description%></dd>
          <dt>Rating</dt>
          <dd><%= review.rating%></dd>
      </dl>
    <% end %>
  <% else %>
    <h4> No reviews for this product as yet</h4>
  <% end %>
</section>